<%= form_for(@restaurant) do |f| %>
	<% if @restaurant.errors.any? %>
		<div id = "Error explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      		<ul>
      			<% @user.errors.full_messages.each do |msg| %>
        		<li><%= msg %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>	

  	<div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>

    	<%= f.label :category %><br />
    	<%= f.text_field :category %>


  	</div>
  	<div class="actions">
  		
    	<%= f.submit %>
  	</div>
<% end %>  